<%= form_for(@tested_feature) do |f| %>
  <% if @tested_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tested_feature.errors.count, "error") %> prohibited this tested_feature from being saved:</h2>

      <ul>
      <% @tested_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
