<h1>Listing tested_features</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tested_features.each do |tested_feature| %>
  <tr>
    <td><%= link_to 'Show', tested_feature %></td>
    <td><%= link_to 'Edit', edit_tested_feature_path(tested_feature) %></td>
    <td><%= link_to 'Destroy', tested_feature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tested feature', new_tested_feature_path %>
